.btn {
  height: 100%;
  width: 20%;
  border-radius: 0.4rem;
  border: none;
  background-color: rgb(241, 243, 244);
  cursor: pointer;
  font-size: 1.5625rem;
}

.oper {
  background-color: rgb(49, 49, 233);
  color: #eee;
}
