.container {
  width: 32%;
  height: 22rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  display: flex;
  justify-content: space-evenly;
}
